In [21]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-macosx_14_0_arm64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp313-cp313-macosx_14_0_arm64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 7.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.3.0'

In [9]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp313-cp313-macosx_12_0_arm64.whl.metadata (3.3 kB)
Downloading pyarrow-20.0.0-cp313-cp313-macosx_12_0_arm64.whl (30.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.8/30.8 MB 8.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0
Note: you may need to restart the kernel to use updated packages.

In [34]:
df = pd.read_parquet('yellow_tripdata_2025-01.parquet')

In [35]:
df.to_csv("yellow_tripdata_2025-01.csv", index=False)

In [15]:
pd.io.sql.get_schema(df, name="yellow_taxi_data")

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL,\n  "cbd_congestion_fee" REAL\n)'

In [18]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

In [36]:
df_iter = pd.read_csv('yellow_tripdata_2025-01.csv', iterator=True, chunksize=100000)

In [37]:
df = next(df_iter)

In [38]:
len(df)

100000

In [39]:
df. tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df. tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [40]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [41]:
df. to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [43]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.89 s, sys: 204 ms, total: 3.09 s
Wall time: 5.91 s

1000

In [44]:
from time import time

In [48]:
while True:
    t_start = time()
    df = next(df_iter)
    df. tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df. tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 5.639 second
inserted another chunk..., took 4.899 second
inserted another chunk..., took 4.831 second
inserted another chunk..., took 4.983 second
inserted another chunk..., took 4.853 second
inserted another chunk..., took 4.949 second
inserted another chunk..., took 4.750 second
inserted another chunk..., took 4.824 second
inserted another chunk..., took 4.725 second
inserted another chunk..., took 5.095 second
inserted another chunk..., took 4.809 second
inserted another chunk..., took 4.889 second
inserted another chunk..., took 4.703 second
inserted another chunk..., took 5.516 second
inserted another chunk..., took 4.919 second
inserted another chunk..., took 4.905 second
inserted another chunk..., took 4.840 second
inserted another chunk..., took 5.010 second
inserted another chunk..., took 5.027 second
inserted another chunk..., took 4.782 second
inserted another chunk..., took 5.210 second
inserted another chunk..., took 10.669 second
inserted another chunk..., took 6.526 second
inserted another chunk..., took 5.690 second
inserted another chunk..., took 5.347 second
inserted another chunk..., took 5.823 second
inserted another chunk..., took 5.242 second
inserted another chunk..., took 5.065 second

/var/folders/4h/pwjwpcmj7rv0_lpsd2v41ldc0000gn/T/ipykernel_84732/1145454988.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 4.660 second
inserted another chunk..., took 4.345 second
inserted another chunk..., took 4.369 second
inserted another chunk..., took 4.473 second
inserted another chunk..., took 4.650 second
inserted another chunk..., took 3.428 second

StopIteration: